*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    background: #1369b4;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
}
.appointment{
    height: 50px;
    line-height: 25px;
    background: #1369b4;
    margin: 30px 0 20px 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input[name="pet"], input[name="owner"], input[name="appointment"]{
    width: 800px;
    padding: 5px 5px 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
}
input[name="time"], input[name="date"], input[name="search"]{
    padding: 5px 5px 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
}
input[name="date"]{
    margin-right: 32px;
    width: 320px;
}
input[name="time"]{
    width: 320px;
}
input[type="submit"]{
    background: #1369b4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 4px;
    border-color: #1369b4;
    display: inline-block;
    text-align: right;
}
input[name="search"]{
    width: 400px;
    display: inline-block;
}
select{
    background: #1369b4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 4px;
    border-color: #1369b4;
    margin-left: 0;
    display: inline-block;
}
.form-container{
    width: 990px;
    margin-left: 60px;
}
.form-container>p{
    width: 100px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    text-align: right;
}
.another{
    margin: 0 auto;
    text-align: center;
}