*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
button{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
.notes{
    top: 20px;
    left: 20px;
    width: 200px;
    height: 230px;
    background-color: khaki;
    text-align: center;
    position: absolute;
}
textarea{
    display: block;
    margin: 0 auto;
    height: 200px;
    background-color: khaki;
}
.deleteBtn{
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
}